body {
    color: #ffffee;
    background-color: #222222;
    line-height: 1.5;
}

h1 {
    text-align: center;
}

body a:link {
    color: cyan;
}

body a:visited {
    color: orchid;
}

#difficulty_index {
    text-align: center;
    margin: auto auto;
    border-style: dashed;
    border-width: 2px;
}

#difficulty_table {
    color: white;
    text-align: center;
    border-collapse: separate;
    border-spacing: 1px;
    table-layout: fixed;
    width: 100%;
}

#difficulty_table tr {
    transition-property: color, background-color;
    transition-duration: 0.2s;
}

#difficulty_table .level {
    width: 4em;
}

#difficulty_table a:link {
    color: blue;
}

#difficulty_table a:visited {
    color: purple;
}

.tr_header {
    background-color: #666666;
}

.tr_separate {
    background-color: #aaaaaa;
    text-shadow: 2px 2px 2px #222222;
}

.tr_normal {
    color: black;
    background-color: #eeeeee;
}

.tr_normal:hover {
    background-color: #70f0f0;
}
