body {
    background-color: #101000;
    color: #ffffee;
    line-height: 1.5;
}

h1 {
    text-align: center;
}

a:link {
    color: cyan;
}

a:visited {
    color: orchid;
}

#difficulty_index {
    border-style: dashed;
    border-width: 2px;
    margin: auto auto;
    text-align: center;
}

#difficulty_table {
    border-collapse: separate;
    border-spacing: 1px;
    color: white;
    table-layout: fixed;
    text-align: center;
    width: 100%;
}

#difficulty_table a:link {
    color: blue;
}

#difficulty_table a:visited {
    color: purple;
}

#difficulty_table td.level {
    width: 4em;
}

#difficulty_table tr.tr_header {
    background-color: #666666;
}

#difficulty_table tr.tr_separate {
    background-color: #aaaaaa;
    text-shadow: 2px 2px 2px #222222;
}

#difficulty_table tr.tr_normal {
    background-color: #eeeeee;
    color: black;
}

#difficulty_table tr.tr_normal:hover {
    background-color: #70f0f0;
}
